/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

tbody, p{
	background-color: rgba(255, 255, 255, 0.60);
	padding: 50px;
	margin: 0 auto;
}

table{
	width: 33%;
	table-layout: auto;
	text-align: center;
}

div#showpage img {
	max-height: 600px;
	width: auto;
}